body {
    color: #5a5a5a;
    background-image: radial-gradient(circle at 41.08% 41.08%, #ece2e2 0, #ece2e1 6.25%, #ece2e0 12.5%, #ece2df 18.75%, #ebe2df 25%, #ebe2de 31.25%, #eae3de 37.5%, #eae3dd 43.75%, #e9e3dd 50%, #e8e3dd 56.25%, #e7e4dd 62.5%, #e6e4dd 68.75%, #e5e4dd 75%, #e4e4dd 81.25%, #e3e5dd 87.5%, #e2e5de 93.75%, #e1e5de 100%);
    font-family: "Euclid Circular A", "Poppins";
  }
  
  * {
    box-sizing: border-box;
  }
  
  nav {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    translate: -50% -90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 72px;
    padding: 0 20px;
    background-image: radial-gradient(circle at 39.13% 65.52%, #dea6a9 0, #dea6a4 7.14%, #dda79f 14.29%, #dba89b 21.43%, #d9a997 28.57%, #d6ab93 35.71%, #d3ac90 42.86%, #cfae8e 50%, #cbb08c 57.14%, #c6b28c 64.29%, #c0b38b 71.43%, #bbb58c 78.57%, #b5b78d 85.71%, #afb88f 92.86%, #a9ba92 100%);
    box-shadow: 0 0 20px black;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 36px;
    padding: 0;
    margin-left: 4px;
    margin-right: 6px;
  }
  
  span.material-symbols-outlined {
    display: grid;
    place-items: center;
    width: 40px;
    height: 72px;
    font-size: 24px;
  }
  
  nav h2 {
    font-size: 19px;
    font-weight: 400;
    color: whitesmoke;
  }
  
  .nav-right > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    margin-left: 8px;
  }
  
  button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    height: 72px;
  }
  
  .dropdown > button {
    position: relative;
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    background: transparent;
  }
  
  .dropdown > button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    scale: 0.25;
    opacity: 0;
    background: #ebebeb;
    transition: 0.2s;
  }
  
  .dropdown:hover > button::before {
    scale: 1;
    opacity: 1;
  }
  
  .menu {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 64px;
    right: -20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    width: 270px;
    max-height: 286px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 10px rgb(0 0 0 / 8%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    appearance: none;
  }
  
  .menu::-webkit-scrollbar {
    width: 15px;
  }
  
  .menu::-webkit-scrollbar-thumb {
    background: #dadce0;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: padding-box;
  }
  
  .dropdown:hover > .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu > button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    font-family: inherit;
  }
  
  /* .menu > button:hover {
    background: #e8f0fe;
    border-radius: 6px;
  } */
  
  .menu > button > img {
    width: 64px;
    height: 64px;
    padding: 16px;
  }
  
  .menu > button > span:first-child {
    display: block;
    width: 64px;
    height: 64px;
    scale: 0.7;
    background-image: url(/img/icons.png);
    background-position: 0 -3105px;
    background-size: 64px 3307px;
    background-repeat: no-repeat;
  }
  
  .menu > button > span:last-child {
    font-size: 12px;
    translate: 0 -12px;
  }